@{
    ViewBag.Title = "HelpLine Page";
}
@{ Layout = null; }


    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

  <style>
  #main_sec{
 background-image:url('../img/p6.png');
      padding: 40px 20px 60px 20px;
  }
  #main{
  background-color: #612221;
  height : 170px;
  }
  .para ul{
      margin-top: -7px;
  }
    .para ul li a{
     color:#fff;
  }
  .jiii img{
  max-height:48px;
  }
  .navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000;
}
.abc {
    margin-bottom: 20px;
    background-color: #dff0d8;
    color: #070707;
    border: 4px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
.navbar-nav>li>a {
    line-height: 35px;
    color: #f5f5f5;
    font-weight: 400;
	}
	.btn-default.btn-theme-colored {
    color: #810024;
    background-color: #fff;
    border-color: #810024;
}
.btn-default.btn-theme-colored:hover{
    color: #fff;
    background-color: #810024;
    border-color: #fff;
}
h2{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 24px;
    color: #1a2f4e;
    font-weight: 400;
	    line-height: 50px;
}
.hdd a{
    margin-bottom: 30px;

}
.tophead{
font-variant: small-caps;
    font-size: xx-large;
    color: white;
}
p{
line-height: 1.7;
    color: grey;
    font-size: 15px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
	    text-align: justify;
}
h2:after {
    content: '';
    display: block;
    width: 100px;
    border-top: 3px solid #1a2f4e;
	}
	
h2:after {
   content: '';
   display: block;
   width: 100px;
   border-top: 3px solid #1a2f4e;
}
.navbar-toggle .icon-bar {
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
   /* color: red; */
   background-color: #000 !important;
}

.navbar-toggle span {
background-color:#000 !important;

}
  </style>
  <section id="main">
      <div class="container">
          <div class="row">
              <div class="col-md-7">
                  <div class="para">
                      <ul class="list-inline">
                          <li class="m-0 pl-10 pr-10"> <a class="navbar-brand jiii" href="#"><img src="../img/download.jpg"></a></li>
                          <li class="m-0 pl-10 pr-10"> <span class="tophead">MIER College of Education</span></li>
                      </ul>
                      <ul class="list-inline">
                          <li class="m-0 pl-10 pr-10"> </li>
                          <li class="m-0 pl-10 pr-10"> <span class="" style="color:white;padding-left: 78px;">College with Potential for Excellence Status by the UGC</span></li>
                      </ul>
                      <ul class="list-inline">
                          <li class="m-0 pl-10 pr-10"> </li>
                          <li class="m-0 pl-10 pr-10"> <span class="" style="color:white;padding-left: 78px;">Recognized by the J&K Govt. & Permanently Affiliated to the University of Jammu</span></li>
                      </ul>
                      <ul class="list-inline">
                          <li class="m-0 pl-10 pr-10"> </li>
                          <li class="m-0 pl-10 pr-10"> <span class="" style="color:white;padding-left: 78px;">Accredited by the NAAC with ‘A+’ Grade</span></li>
                      </ul>
					  <ul class="list-inline">
            <li class="m-0 pl-10 pr-10"> </li>
            <li class="m-0 pl-10 pr-10"> <span class="" style="color:white;padding-left: 78px;">Contact Us  9419797673,7006931947</span></li>
        </ul>
                  </div>
              </div>
              <div class="col-md-5" style="margin-top: 40px;color: wheat;">
                  <ul class="navbar-right xyz">
                      <li><a href="/Home/HelpLine"><u style="color:white">HelpLine</u></a></li>
                      <li><a href="https://www.miercollege.in/notices.aspx" target="_blank"><u style="color:white">Visit Our WebSite</u></a></li>

                  </ul>
              </div>
          </div>
      </div>
  </section>



<section id="">
<div class="container">
<div class="row">
<div class="col-md-12">
<h2>General Queries</h2>
</div>

</div>
<div class="row">
<div class="col-md-12">
<p>Help desk contact details: You may contact Centralised Student Admission Cell at 9419797673,7006931947. You can email at principal@miercollege.in</p>

</div>

</div>
</div>
</section>