@{
    Layout = "../Shared/_LayoutPrint.cshtml";
}

<div class="OnPriintHide" style="position: fixed;width: 96%;">
    <button onclick="window.print();" style="float: right;border: none; padding:5px; font-size: 13px; background:#fff; border-radius:5px;">
        <img height="30" width="30" src="http://edunexttechnologies.com/erpreports/upload/attach/840111602946731_print.png">
        <div style="padding: 3px;">Print Page</div>
    </button>
</div>

<div ng-app='myApp' ng-controller='student' id="divMain">
    <div class="book">
        <div ng-repeat='y in fee_datas'>
            <div class="page">
                <div class="subpage">
                    <table class="watermark" border="0" style="width: 100%; height: 100%; border-collapse: collapse;">
                        <tr>
                            <td style="padding: 3mm;" valign="top">
                                <table class="school_profile" border="0" width="100%" cellspacing="0" cellpadding="0" style="border-collapse: collapse" height="100%">
                                    <tr>
                                        <td valign="top">
                                            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td width="15%"><font face="Tahoma"><img src="{Logo}" height="90"></font></td>
                                                    <td width="70%" align="center">
                                                        <font face="Tahoma">
                                                            <b>
                                                                <span style="font-size:16pt;">
                                                                    {University Name}
                                                                </span>
                                                            </b><br>
                                                        </font>
                                                        <font style="font-size: 9pt">
                                                            {University Address}
                                                            <br>
                                                            Email:{University_emailid}
                                                            <br>Website:{University_website}
                                                            <br> Phone No.:{University_phoneno}<b>
                                                            </b>
                                                        </font>
                                                    </td>
                                                    <td width="15%" align="right">
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                            </table>

                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td width="100%" height="60" style="padding-left: 50px; padding-right: 50px">
                                                        <div align="center">
                                                            <table border="1" width="100%" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-width: 0px" bordercolor="#000000">
                                                                <tr>
                                                                    <td width="33%" style="border-style: none; border-width: medium">
                                                                        <font face="Tahoma">
                                                                            <span style="font-size: 10pt">Ref No. {Refrence No.}</span>
                                                                        </font>
                                                                    </td>
                                                                    <td width="33%" style="border-style: none; border-width: medium">
                                                                        <font face="Tahoma" size="2">&nbsp;</font>
                                                                    </td>
                                                                    <td width="33%" style="border-style: none; border-width: medium">
                                                                        <p align="right">&nbsp;
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="33%" style="border-style: none; border-width: medium">
                                                                        <font face="Tahoma" size="2">&nbsp;</font>
                                                                    </td>
                                                                    <td width="33%" style="border-style: none; border-width: medium">
                                                                        <p align="center">
                                                                            <b>
                                                                                <font face="Tahoma">
                                                                                    Offer Letter
                                                                                </font>
                                                                            </b>
                                                                    </td>
                                                                    <td width="33%" style="border-style: none; border-width: medium">
                                                                        <font face="Tahoma" size="2">&nbsp;</font>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="33%" style="border-style: none; border-width: medium">
                                                                        <font face="Tahoma" size="2">&nbsp;</font>
                                                                    </td>
                                                                    <td width="33%" style="border-style: none; border-width: medium">
                                                                        <font face="Tahoma" size="2">&nbsp;</font>
                                                                    </td>
                                                                    <td width="33%" style="border-style: none; border-width: medium">
                                                                        <font face="Tahoma" size="2">&nbsp;</font>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="33%" style="border-style: none; border-width: medium">
                                                                        <font face="Tahoma">
                                                                            <span style="font-size: 10pt">Student Name: {Student Name}</span>
                                                                        </font>
                                                                    </td>
                                                                    <td width="33%" style="border-style: none; border-width: medium">
                                                                        <font face="Tahoma" size="2">&nbsp;</font>
                                                                    </td>
                                                                    <td width="33%" style="border-style: none; border-width: medium">
                                                                        <p align="right">
                                                                            <font face="Tahoma">
                                                                                <span style="font-size: 10pt">Date : {y.today Date}</span>
                                                                            </font>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="33%" style="border-style: none; border-width: medium">
                                                                        <font face="Tahoma" size="2">Nationality</font><font face="Tahoma"><span style="font-size: 10pt">: {Nationality}</span></font>
                                                                    </td>
                                                                    <td width="33%" style="border-style: none; border-width: medium">
                                                                        <font face="Tahoma" size="2">&nbsp;</font>
                                                                    </td>
                                                                    <td width="33%" style="border-style: none; border-width: medium">
                                                                        <font face="Tahoma" size="2">&nbsp;</font>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="100%" height="100">
                                                        <p align="left">
                                                            <font face="Tahoma" size="2">
                                                                Dear Student,
                                                            </font>
                                                        <p align="left">
                                                            <font face="Tahoma" size="2">
                                                                On the basis of initial information provided by yourself, CT University is pleased to issue you offer letter for
                                                                {Program} program for the session {Admission Session}. This is a
                                                                {Program Length} years program and other details are as follows:
                                                            </font>
                                                    </td>
                                                </tr>
                                            </table>

                                            <div align="center">
                                                <table border="1" width="100%" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-width: 0px" bordercolor="#000000">
                                                    <tr>
                                                        <td width="99%" style="border-style: none; border-width: medium" align="center">
                                                            <p align="left">
                                                                <span style="font-weight: 700">
                                                                    <font face="Tahoma" size="2">{Table}</font>
                                                                </span>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <table border="1" width="100%" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-width: 0px" bordercolor="#000000">
                                                    <tr>
                                                        <td width="99%" style="border-style: none; border-width: medium" align="center">
                                                            <font face="Tahoma">
                                                                <span style="font-weight:700">One Time /Other Charges</span>
                                                            </font>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <table border="1" width="100%" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-left-width:0px; border-right-width:0px; border-bottom-width:0px" bordercolor="#000000">
                                                    <tr>
                                                        <td width="50%" style="border-style: solid; border-width: 1px; height: 35px; ">
                                                            <p align="center">
                                                                <font face="Tahoma">
                                                                    <span style="font-size: 10pt">Prospectus Fee (Non Refundable)</span>
                                                                </font>
                                                        </td>
                                                        <td width="50%" style="border-style: solid; border-width: 1px; " align="center">
                                                            <p>
                                                                <font face="Tahoma">
                                                                    <span style="font-size: 10pt">1000</span>
                                                                </font>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="50%" style="border-style: solid; border-width: 1px;  height: 35px; ">
                                                            <p align="center">
                                                                <font face="Tahoma">
                                                                    <span style="font-size: 10pt">Uniform Fee</span>
                                                                </font>
                                                        </td>
                                                        <td width="50%" style="border-style: solid; border-width: 1px; " align="center">
                                                            <p>
                                                                <font face="Tahoma">
                                                                    <span style="font-size: 10pt">8700</span>
                                                                </font>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="50%" style="border-style: solid; border-width: 1px;  height: 35px; ">
                                                            <p align="center">
                                                                <font face="Tahoma">
                                                                    <span style="font-size: 10pt">Examination Fee (Per Semester)</span>
                                                                </font>
                                                        </td>
                                                        <td width="50%" style="border-style: solid; border-width: 1px; " align="center">
                                                            <p>
                                                                <font face="Tahoma">
                                                                    <span style="font-size: 10pt">2000</span>
                                                                </font>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="50%" style="border-style: solid; border-width: 1px;  height: 35px; ">
                                                            <p align="center">
                                                                <font face="Tahoma">
                                                                    <span style="font-size: 10pt">Library Fee (Refundable after Course Completion)</span>
                                                                </font>
                                                        </td>
                                                        <td width="50%" style="border-style: solid; border-width: 1px; " align="center">
                                                            <p>
                                                                <font face="Tahoma">
                                                                    <span style="font-size: 10pt">2000</span>
                                                                </font>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="100%" style="border-style: none; border-width: medium" colspan="2" align="left">
                                                            <p>
                                                                Note:
                                                            <p>
                                                                * In case of Package, fee includes Hostel Fee, Food and
                                                                Laundary.
                                                            <p>
                                                                * Students can not withdraw the Hostel Facility till the
                                                                course end.
                                                            <p>
                                                                * The admission confirmation will be done only after
                                                                verification of original documents
                                                            <p>
                                                                * Every Semester, the student have to clear the upcoming
                                                                semester fees before the commencement of Exams of current
                                                                Semester.
                                                            <p>
                                                                * The examination fees have to be paid before the
                                                                commencement of exam in every semester.
                                                            <p>
                                                        </td>
                                                    </tr>

                                                </table>
                                                <p>&nbsp;
                                            </div>
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td width="387" style="width:100%; padding-left:50px; padding-right:50px; padding-top:0px; padding-bottom:20px">
                                                            <p>
                                                                <font face="Tahoma" size="2">
                                                                    <b>Best Wishes & Welcome</b>
                                                                    <p align="center">{Signature}</p>
                                                                    <p align="center">Head Admissions</p>
                                                                    <p align="center">CT University, Punjab</p>
                                                                </font>
                                                            </p>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>


                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

    </div>

</div>