@{
    ViewBag.Title = "BITS";
}
@{ Layout = null; }
 <title>BITS</title>
  <link rel="stylesheet" href="~/_css/bootstrap.min.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="~/_css/font-awesome.min.css">
    <link rel="stylesheet" href="~/_css/icofont.css">
    <link rel="stylesheet" href="~/_css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/_css/plugins/animate.css">
    <link rel="stylesheet" href="~/_css/plugins/chosen.min.css">
    <link rel="stylesheet" href="~/_css/plugins/slick.css">
    <link rel="stylesheet" href="~/_css/plugins/meanmenu.min.css">
    <link rel="stylesheet" href="~/_css/plugins/chosen.min.css">
    <link rel="stylesheet" href="~/_css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="~/_css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="~/_css/shortcode/default.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="~/_css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="~/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="~/_css/responsive.css">
    <!-- Style customizer (Remove these two lines please) -->
    <link rel="stylesheet" href="~/_css/style-customizer.css">
    <link href="#" data-style="styles" rel="stylesheet">
    
    <!-- Modernizr JS -->
    <script src="~/_js/vendor/modernizr-3.11.7.min.js"></script>
	 <script src="~/_js/vendor/jquery-v1.12.4.min.js"></script>
    <!-- Bootstrap framework js -->
    <script src="~/_js/popper.min.js"></script>
    <script src="~/_js/bootstrap.min.js"></script>
    <!--  ajax-mail.js  -->	
    <script src="~/_js/ajax-mail.js"></script>
    <!-- All js plugins included in this file. -->
    <script src="~/_js/plugins.js"></script>
    <script src="~/_js/main.js"></script>
      <div class="wrapper">
        <!-- Start of header area -->
        <header class="header-area">
            <div class="header-top blue-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-7 col-12">
                            <div class="header-top-info">
                                <ul>
                                    <li>
                                        <a href="tel:#">
                                            <i class="zmdi zmdi-phone"></i>
                                        </a>
                                        +91-9311218311/17/02
                                    </li>
                                    <li>
                                        <a href="mailto:bitsgzb@gmail.com">
                                            <i class="zmdi zmdi-email"></i>
                                            bitsgzb@gmail.com
                                        </a>
                                    </li>
									
									
									
									
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-5 d-none d-md-block">
                            <div class="header-top-right">
                                <div class="header-top-social f-right">
                                    <p>Follow Us :</p>
                                    <ul>
                                        <li><a href="https://www.facebook.com/bitsgzb/" target="_blank" "><i class="icofont icofont-social-facebook"></i></a></li>
										<li><a href="https://www.youtube.com/channel/UCgSCFBv9s8tcngBdmBZlN7w" target="_blank"><i class="icofont icofont-social-youtube"></i></a></li>
                                        @*<li><a href="https://twitter.com/hlmgroup_info" target="_blank"><i class="icofont icofont-social-twitter"></i></a></li>
                                        <li><a href="https://www.linkedin.com/company/the-hlm-group" target="_blank"><i class="icofont icofont-social-linkedin"></i></a></li>
										<li><a href="https://www.instagram.com/hlm_group_llc/?hl=en" target="_blank"><i class="icofont icofont-social-instagram"></i></a></li>*@
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom stick-h2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-12">
                            <div class="logo">
                                <a href="/home/index"><img style="height: 80px;" src="~/_images/logo/LOGOnew.png" alt="" > </a>
                            </div>
                        </div>
                        <div class="col-md-8 hidden-sm d-none d-md-block">
                            <div class="menu-area f-right">
                                <nav>
                                    <ul>
                                        <li><a href="../Enquiry/EnquiryDetails">NEW ENQUIRY </a> </li>
										<!-- <li><a href="#">Already Enquired </a></li> -->
										<!-- <li><a href="#">Already Registered </a></li> -->
                                        <!-- <li><a href="https://hlmenquiry.instituteoncloud.com/Enquiry/EnquiredUser">Already Enquired </a></li> -->
										<!-- <li><a href="https://hlmenquiry.instituteoncloud.com/Enquiry/RegisteredUser">Already Registered </a></li> -->
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- mobile-menu-area start -->
        <div class="mobile-menu-area clearfix">
            <div class="container">
                <div class="row">
                    <div class="d-block d-lg-none col-sm-12 col-xs-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul>
                                    <li><a href="https://bitsenquiry.instituteoncloud.com/Enquiry/EnquiryDetails">NEW ENQUIRY </a></li>
									    <!-- <li><a href="#">Already Enquired </a></li> -->
										<!-- <li><a href="#">Already Registered </a></li> -->
                                    <!-- <li><a href="https://bitsenquiry.instituteoncloud.com/Enquiry/EnquiredUser">Already Enquired </a></li> -->
									<!-- <li><a href="https://bitsenquiry.instituteoncloud.com/Enquiry/RegisteredUser">Already Registered </a></li> -->
                                </ul>
                            </nav>
                        </div>					
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile-menu-area end -->
		 <!-- Start of slider area -->
        <div class="slider-area">
            <div class="slider-active">
                <div class="slider-all">
                    <img src="~/_images/slider/2.JPG" alt="">
                    <div class="slider-text-wrapper">
                       
                    </div>
                </div>
                <!--<div class="slider-all">
                    <img src="images/slider/dwarka16-new.jpg" alt="">
                    <div class="slider-text-wrapper">
                      
                    </div>
                </div>
                <div class="slider-all">
                    <img src="images/slider/dwarka22-new.jpg" alt="">
                    <div class="slider-text-wrapper">
                      
                    </div>
                </div>
				<div class="slider-all">
                    <img src="images/slider/hr-cover.jpg" alt="">
                    <div class="slider-text-wrapper">
                      
                    </div>
                </div>
				<div class="slider-all">
                    <img src="images/slider/slider-home-1.jpg" alt="">
                    <div class="slider-text-wrapper">
                      
                    </div>
                </div>
				<div class="slider-all">
                    <img src="images/slider/dwarka22-new.jpg" alt="">
                    <div class="slider-text-wrapper">
                      
                    </div>
                </div>-->
            </div>
        </div>
        <!-- End of slider area -->
		
       
        <!-- start categoris area --> 
		
		<div class="categoris-area pb-60 pt-60">
            <div class="container">
			 
                <div class="section-title text-center mb-55">
                    <h1 class="uppercase">Welcome to Admission Portal</h1>
                    
                    <div class="separator my mtb-15">
                        <i class="icofont icofont-hat-alt"></i>
                    </div>
					
                </div>
				<div class="row">
				<div class="free-button" >
                                     
                   <center> <button class="submit" type="submit" onclick="window.location.href='https://bitsenquiry.instituteoncloud.com/Enquiry/EnquiryDetails	'"> New Enquiry </button> </center>
									   
                    </div>
					</div>
									
									
                <div class="row text-justify" style="text-align:justify">
                     <p><strong><h5> Enquiry Process is Open for 2022 - 2023 session.</h5> </strong> <br></p>
					
					<strong>The Institute offers help and supports to its students throughout their study and after graduation. The placement cell of the Institute carries out various functions and activities that build the growing relationship between academia and Industry. Placement counselors provide information relating to new business start up and freelance working. The placement counselors are experienced and conduct a range of self-development workshops and mock interviews to enhance self-confidence and improve job-seeking strategies. The placement cell aims at bringing corporate luminaries and student community together in intellectually stimulating and mutually beneficial interaction that forms the basis of a firm and lasting relationship. The Institute’s enviable reputation or excellence in professional education makes it a popular choice for recruiters. In order to enhance the competitive skills, various seminars, demos and presentations are arranged from various experts in divergent fields.
<br> <br> <br> <br></p>

<div class="exp">

			<div class="row">
				<div class="col-md-2 col-sm-4 col-xs-6 moveUp in-view">
					<div class="about-icons wow bounceInUp" data-wow-delay="0.3s">
						<div class="img animated infinite pulse slow">
							<img src="/_images/Years-of-Legacy.png">
						</div>
						<div class="text">
							<h5 style="color: #ed6c00;">18+</h5>
							<label>Years of <br>Legacy</label>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 moveUp in-view">
					<div class="about-icons wow bounceInUp" data-wow-delay="0.5s">
						<div class="img animated infinite pulse slow">
							<img src="/_images/Acres-of-Lush-Green-Campus.png">
						</div>
						<div class="text">
							<h5 style="color: #e74131;">32+</h5>
							<label>Acres of Lush <br>Green Campus</label>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 moveUp in-view">
					<div class="about-icons wow bounceInUp" data-wow-delay="0.7s">
						<div class="img animated infinite pulse slow">
							<img src="/_images/Brilliant-Students.png">
						</div>
						<div class="text">
							<h5 style="    color: #00a6a6;">3500+</h5>
							<label>Brilliant <br>Students</label>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 moveUp in-view">
					<div class="about-icons wow bounceInUp" data-wow-delay="0.9s">
						<div class="img animated infinite pulse slow">
							<img src="/_images/Alumni.png">
						</div>
						<div class="text">
							<h5>15000+</h5>
							<label>Alumni</label>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 moveUp in-view">
					<div class="about-icons wow bounceInUp" data-wow-delay="1s">
						<div class="img animated infinite pulse slow">
							<img src="/_images/Recruiters.png">
						</div>
						<div class="text">
							<h5 style="color: #ed6c00;">150+</h5>
							<label>Recruiters</label>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 moveUp in-view">
					<div class="about-icons wow bounceInUp" data-wow-delay="1.2s">
						<div class="img animated infinite pulse slow">
							<img src="/_images/Placement-Assistance.png">
						</div>
						<div class="text">
							<h5 style="color: #00a6a6;">100%</h5>
							<label>Placement <br>Assistance</label>
						</div>
					</div>
				</div>
			</div>
		</div>
                    <div class="row">
                      <div><br><br><br>
					     <center><h4><strong>Address:-</strong>N.H-9, Delhi-Meerut Expressway, Masuri Canal, Masuri, Ghaziabad - 201015, Uttar Pradesh, India</h4></center>
					  </div>
					</div>		
                </div>
            </div>
        </div>
		
       
        </div>
        
       
        
       
        <footer class="footer-area">
            <div class="footer-top p-2">
                
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="footer-bottom-text ptb-20">
                                <p>
                                    Copyright © 2022, BITS, Ghaziabad, All rights reserved. || eSCOP maintained by <a href="https://www.sonetmicrosystems.com/" target="_blank"> Campus ERP Software </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End footer area -->
        <!-- start scrollUp
        ============================================ -->
        <div id="toTop">
            <i class="fa fa-chevron-up"></i>
        </div>
        
        
        
    </div>
<script>
 $(document).ready(function () {
 document.title='BITS, Ghaziabad';
 })
</script>