@{
    ViewBag.Title = "HLM Group of Institution";
}
@{ Layout = null; }
 <title>HLM Group of Institution</title>
  <link rel="stylesheet" href="~/_css/bootstrap.min.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="~/_css/font-awesome.min.css">
    <link rel="stylesheet" href="~/_css/icofont.css">
    <link rel="stylesheet" href="~/_css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/_css/plugins/animate.css">
    <link rel="stylesheet" href="~/_css/plugins/chosen.min.css">
    <link rel="stylesheet" href="~/_css/plugins/slick.css">
    <link rel="stylesheet" href="~/_css/plugins/meanmenu.min.css">
    <link rel="stylesheet" href="~/_css/plugins/chosen.min.css">
    <link rel="stylesheet" href="~/_css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="~/_css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="~/_css/shortcode/default.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="~/_css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="~/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="~/_css/responsive.css">
    <!-- Style customizer (Remove these two lines please) -->
    <link rel="stylesheet" href="~/_css/style-customizer.css">
    <link href="#" data-style="styles" rel="stylesheet">
    
    <!-- Modernizr JS -->
    <script src="~/_js/vendor/modernizr-3.11.7.min.js"></script>
	 <script src="~/_js/vendor/jquery-v1.12.4.min.js"></script>
    <!-- Bootstrap framework js -->
    <script src="~/_js/popper.min.js"></script>
    <script src="~/_js/bootstrap.min.js"></script>
    <!--  ajax-mail.js  -->	
    <script src="~/_js/ajax-mail.js"></script>
    <!-- All js plugins included in this file. -->
    <script src="~/_js/plugins.js"></script>
    <script src="~/_js/main.js"></script>
      <div class="wrapper">
        <!-- Start of header area -->
        <header class="header-area">
            <div class="header-top blue-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-7 col-12">
                            <div class="header-top-info">
                                <ul>
                                    <li>
                                        <a href="tel:#">
                                            <i class="zmdi zmdi-phone"></i>
                                        </a>
                                        8860083577
                                    </li>
                                    <li>
                                        <a href="mailto:admissions@hlmgroup.org">
                                            <i class="zmdi zmdi-email"></i>
                                            admissions@hlmgroup.org
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-5 d-none d-md-block">
                            <div class="header-top-right">
                                <div class="header-top-social f-right">
                                    <p>Follow Us :</p>
                                    <ul>
                                        <li><a href="https://www.facebook.com/hlmgroupofficial/"><i class="icofont icofont-social-facebook"></i></a></li>
                                        <li><a href="https://twitter.com/hlmgroupoffical"><i class="icofont icofont-social-twitter"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-github"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom stick-h2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-12">
                            <div class="logo">
                                <a href="/home/index"><img src="~/_images/logo/LOGOnew.png" alt="" > </a>
                            </div>
                        </div>
                        <div class="col-md-8 hidden-sm d-none d-md-block">
                            <div class="menu-area f-right">
                                <nav>
                                    <ul>
                                        <li><a href="../Enquiry/EnquiryDetails">NEW ENQUIRY </a> </li>
										<!-- <li><a href="#">Already Enquired </a></li> -->
										<!-- <li><a href="#">Already Registered </a></li> -->
                                        <!-- <li><a href="https://hlmenquiry.instituteoncloud.com/Enquiry/EnquiredUser">Already Enquired </a></li> -->
										<!-- <li><a href="https://hlmenquiry.instituteoncloud.com/Enquiry/RegisteredUser">Already Registered </a></li> -->
                                        
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- mobile-menu-area start -->
        <div class="mobile-menu-area clearfix">
            <div class="container">
                <div class="row">
                    <div class="d-block d-lg-none col-sm-12 col-xs-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul>
                                    <li><a href="https://hlmenquiry.instituteoncloud.com/Enquiry/EnquiryDetails">NEW ENQUIRY </a></li>
									    <!-- <li><a href="#">Already Enquired </a></li> -->
										<!-- <li><a href="#">Already Registered </a></li> -->
                                    <!-- <li><a href="https://hlmenquiry.instituteoncloud.com/Enquiry/EnquiredUser">Already Enquired </a></li> -->
									<!-- <li><a href="https://hlmenquiry.instituteoncloud.com/Enquiry/RegisteredUser">Already Registered </a></li> -->
                                </ul>
                            </nav>
                        </div>					
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile-menu-area end -->
		 <!-- Start of slider area -->
        <div class="slider-area">
            <div class="slider-active">
                <div class="slider-all">
                    <img src="~/_images/slider/2.JPG" alt="">
                    <div class="slider-text-wrapper">
                       
                    </div>
                </div>
                <!--<div class="slider-all">
                    <img src="images/slider/dwarka16-new.jpg" alt="">
                    <div class="slider-text-wrapper">
                      
                    </div>
                </div>
                <div class="slider-all">
                    <img src="images/slider/dwarka22-new.jpg" alt="">
                    <div class="slider-text-wrapper">
                      
                    </div>
                </div>
				<div class="slider-all">
                    <img src="images/slider/hr-cover.jpg" alt="">
                    <div class="slider-text-wrapper">
                      
                    </div>
                </div>
				<div class="slider-all">
                    <img src="images/slider/slider-home-1.jpg" alt="">
                    <div class="slider-text-wrapper">
                      
                    </div>
                </div>
				<div class="slider-all">
                    <img src="images/slider/dwarka22-new.jpg" alt="">
                    <div class="slider-text-wrapper">
                      
                    </div>
                </div>-->
            </div>
        </div>
        <!-- End of slider area -->
		
       
        <!-- start categoris area --> 
		
		<div class="categoris-area pb-60 pt-60">
            <div class="container">
			 
                <div class="section-title text-center mb-55">
                    <h1 class="uppercase">Welcome to Admission Portal</h1>
                    
                    <div class="separator my mtb-15">
                        <i class="icofont icofont-hat-alt"></i>
                    </div>
                </div>
                <div class="row text-justify" style="text-align:justify">
                     <p><strong> Enquiry Process is Open for 2022 - 2023 session. </strong> <br>
					
					HLM Group of institutions is a foundation laid by Mr Sunil Miglani ,Chairman Migsun group in honour of His late father Mr .Harbans Lal Miglani in the year 2005 . <br><br>
A visionary of great intellect Mr .Sunil Miglani believed in the concept of "Education For All".This became the core competence for HLM group of institutions where we build perspectives through multidisciplinary learning in various dimensions.<br><br>
HLM aims to provide the budding professionals a holistic environment providing them opportunities through value added courses and make them industry ready in addition to  academic excellence.Summer internships in well established corporates and guest lectures by high corporate officials adds to the industry experience of our students and gives them practical hands on knowledge of real time work environment<br> <br> <br> <br></p>
                            <div class="free-button">
                                     
                                       <center> <button class="submit" type="submit" onclick="window.location.href='https://hlmenquiry.instituteoncloud.com/Enquiry/EnquiryDetails	'"> New Enquiry </button>
									   <!-- <button class="submit" type="submit" onclick="window.location.href='https://hlmenquiry.instituteoncloud.com/Enquiry/EnquiredUser'"> Already Enquired </button> -->
									   <!-- <button class="submit" type="submit" onclick="window.location.href='https://hlmenquiry.instituteoncloud.com/Enquiry/RegisteredUser'"> Already registered </button> </center> -->
									   <!-- <button class="submit" type="submit" onclick="#"> Already Enquired </button> -->
									   <!-- <button class="submit" type="submit" onclick="#"> Already registered </button> -->
                                    </div>
                </div>
            </div>
        </div>
		
       
        </div>
        
       
        
       
        <footer class="footer-area">
            <div class="footer-top p-2">
                
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="footer-bottom-text ptb-20">
                                <p>
                                    Copyright © 2022, HLM Group of Institutions, All rights reserved. || eSCOP maintained by <a href="https://www.sonetmicrosystems.com/" target="_blank"> Campus ERP Software </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End footer area -->
        <!-- start scrollUp
        ============================================ -->
        <div id="toTop">
            <i class="fa fa-chevron-up"></i>
        </div>
        
        
        
    </div>
<script>
 $(document).ready(function () {
 document.title='HLM Group of Institution';
 })
</script>