@{
    Layout = "../Shared/_LayoutPrint.cshtml";
}

<div class="OnPriintHide" style="position: fixed;width: 97%;">
			<button onclick="window.print();" style="float: right;border: none;height: 28px;width: 120px;font-size: 13px;font-variant: initial; boder-box: inherit; box-sizing: border-box;">
					<img height="20" width="20" src="https://edunexttechnologies.com/erpreports/upload/attach/232471486373837_Print-button.jpg">
					<div style="padding: 3px;float: right;">Print Page</div>
			</button>
	</div>
<div ng-app='myApp' ng-controller='student'> 
<div ng-repeat='y in fee_datas'>
<div align=center class="page">
<table border="0" width="95%">
	<tbody>
		<tr align="center">
			<td valign="top" width="15%" style="border-style: none; border-width: medium">
			<font face="Tahoma">
			<strong></strong>
			</font>
			</td>
			<td valign="top" width="70%" align="center" style="border-style: none; border-width: medium"><strong>
			<font face="Tahoma" size="5" text-transform: "uppercase;"></font></strong><font face="Tahoma"><br />
			</font>
			<font face="Tahoma" style="font-size: 10pt">
			<i></i><br />
			<br />
			</b></br>
			<br></font>
			</td>
			<td valign="top" width="15%" style="border-style: none; border-width: medium"></td>
		</tr>
	</tbody>
</table>

<table border="1" width="95%" cellpadding="5" style="border-width:0px; border-collapse: collapse; margin:auto;" bordercolor="#000000" cellspacing="0">
	<tr height="0">
		<td width="50%" style=" border-top:medium none #000000; border-left-style:none; border-left-width:medium; border-right-style:none; border-right-width:medium; border-bottom-style:none; border-bottom-width:medium" height="50">
		<span style="font-size: 13pt">Ref No.</span><font style="font-size: 13pt"> : {Ref. No.}</font></td>
		<td valign="middle" width="50%" style="padding-right:20px; border-top:medium none #000000; border-left-style:none; border-left-width:medium; border-right-style:none; border-right-width:medium; border-bottom-style:none; border-bottom-width:medium" align="right">
		<font style="font-size: 13pt">Date : {{y.today}}</font></td>
	</tr>
	<tr height="0">
		<td width="100%" style=" border-top:medium none #000000; border-left-style:none; border-left-width:medium; border-right-style:none; border-right-width:medium; border-bottom-style:none; border-bottom-width:medium" colspan="2" height="100" align="center" style="line-height: 1.5">
		<u><b>
		<font style="font-size: 13pt">
		TO WHOM IT MAY CONCERN</font></b></u></td>
	</tr>
	<tr>
	<td style="padding: 0;border-left-style:dotted; border-left-width:0; border-right-style:dotted; border-right-width:0; border-top-style:dotted; border-top-width:0; border-bottom-style:dotted; border-bottom-width:1px" valign="bottom" colspan="2">
		<div style="float: left; background-color: #fff; height:20px; margin-bottom:-1px">
		<font style="font-size: 13pt">This is to certify that {Student Salutation} {Student Name} {relation} {Student Salutation} {Father Name} is a bonafide student of C T UNIVERSITY, Ludhiana in {Program Name} under University Registration No. 72210176 for the academic session {Student Batch}. The total duration of the programme is {Program Length}.</font><span style="font-size: 13pt"></b></span></div>	
		<div style="clear:both"></div>
	</td>
	</tr>
	</table>

<table border="0" width="100%" cellpadding="3" style="border-collapse: collapse; margin:auto; margin-top:5px" >
	<tr >
	<td style="border-style: none; border-width: medium;  height: 50px; padding:0px;" valign="bottom" colspan="2">
	<font face="Tahoma"> </font></td>
	</tr>		
	<tr height="35">
				<td colspan="2">
				 </td>
			</tr>
		<tr >
	<td style="border-style: none; border-width: medium;  padding:0px" valign="bottom" width="100%" colspan="2">
	<font face="Tahoma"> </font></td>
	</tr>
	<tr height="">
		<td  style="border-bottom: medium none #000; padding-right:100px" valign="bottom" height="50" width="50%">
		<font face="Tahoma" style="font-size: 11pt">
		Prepared By: {Prepared By}</font></td>
		<td  style="border-bottom: medium none #000; padding-right:0px" valign="bottom" height="100" width="50%" rowspan="2">
		<p align="right">
		<font face="Tahoma" style="font-size: 13pt">
		Dean Academics,</font><p align="right">
		<font face="Tahoma" style="font-size: 13pt">
		CT University, Ludhiana</font></td>
	</tr>
	<tr height="">
		<td  style="border-bottom: medium none #000; padding-right:100px" valign="bottom" height="50" width="50%">
		<font face="Tahoma" style="font-size: 11pt">
		Checked By: {Checked By}</font></td>
	</tr>
	<tr height="">
		<td  style="border-bottom: medium none #000; padding-right:100px" valign="bottom" height="200" colspan="2">
		 </td>
	</tr>
	</table>
	</diV>
<!--<div class="page-break" ></div>-->
</div>
</div>