

<div class="container">


    <div class="row">
       
        <div class="col-md-8 col-xs-offset-2">
            <div class="well well-lg mt30 mb30 ml60">
                <h1>Demo</h1>

            </div>
        </div>
    </div>
</div>